FUNCTIONS_WORKER_RUNTIME: java
AzureWebJobsStorage:DefaultEndpointsProtocol=https;AccountName=<YOUR_STORAGE_KEY>
PAYMENT_POSITION_INPUT_EVENTHUB_CONN_STRING:Endpoint=sb://pagopa-d-itn-observ-gpd-evh.servicebus.windows.net/;SharedAccessKeyName=<SHARED_ACCESS_KEY_NAME>;SharedAccessKey=<SHARED_ACCESS_NAME>;EntityPath=<ENTITY>
PAYMENT_POSITION_OUTPUT_EVENTHUB_CONN_STRING:Endpoint=sb://pagopa-d-itn-observ-gpd-evh.servicebus.windows.net/;SharedAccessKeyName=<SHARED_ACCESS_KEY_NAME>;SharedAccessKey=<SHARED_ACCESS_NAME>;EntityPath=<ENTITY>
PAYMENT_OPTION_INPUT_EVENTHUB_CONN_STRING:Endpoint=sb://pagopa-d-itn-observ-gpd-evh.servicebus.windows.net/;SharedAccessKeyName=<SHARED_ACCESS_KEY_NAME>;SharedAccessKey=<SHARED_ACCESS_NAME>;EntityPath=<ENTITY>
PAYMENT_OPTION_OUTPUT_EVENTHUB_CONN_STRING:Endpoint=sb://pagopa-d-itn-observ-gpd-evh.servicebus.windows.net/;SharedAccessKeyName=<SHARED_ACCESS_KEY_NAME>;SharedAccessKey=<SHARED_ACCESS_NAME>;EntityPath=<ENTITY>
TRANSFER_INPUT_EVENTHUB_CONN_STRING:Endpoint=sb://pagopa-d-itn-observ-gpd-evh.servicebus.windows.net/;SharedAccessKeyName=<SHARED_ACCESS_KEY_NAME>;SharedAccessKey=<SHARED_ACCESS_NAME>;EntityPath=<ENTITY>
TRANSFER_OUTPUT_EVENTHUB_CONN_STRING:Endpoint=sb://pagopa-d-itn-observ-gpd-evh.servicebus.windows.net/;SharedAccessKeyName=<SHARED_ACCESS_KEY_NAME>;SharedAccessKey=<SHARED_ACCESS_NAME>;EntityPath=<ENTITY>
PDV_TOKENIZER_SUBSCRIPTION_KEY:<TOKENIZER_SUB_KEY>